@font-face {
    font-family: 'LatoThin', sans-serif;
    src: url(assets/Lato-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'LatoLight', sans-serif;
    src: url(assets/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular', sans-serif;
    src: url(assets/Lato-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'LatoSemibold', sans-serif;
    src: url(assets/Lato-Semibold.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold', sans-serif;
    src: url(assets/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBlack', sans-serif;
    src: url(assets/Lato-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

.logo-container h1,
.menu-container {
    /* font-style: normal; */
    font-weight: 500;
    font-family: 'Lato';
}

.logo-container h1 {
    font-size: 25px;
}

.menu-container {
    font-size: 12px;
}

.dot {
    font-weight: 100;
    font-family: 'Lato';
}

.our-services {
    /* font-style: normal; */
    font-weight: 700;
    font-size: 30px;
    font-family: 'Lato';
}

.description-container p {
    /* font-style: normal; */
    font-weight: 300;
    font-size: 18px;
    font-family: 'Lato';
}

.text .header p {
    /* font-style: normal; */
    font-weight: 700;
    font-size: 18px;
    font-family: 'Lato';
}

.text .words p {
    /* font-style: normal; */
    font-weight: 400;
    font-size: 11px;
    font-family: 'Lato';
}