* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1020px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.logo-and-menu-container {
    /* display: flex; */
    /* align-items: flex-end; */
    height: 89px;
    padding: 0 40px;
    background-color: #2d303a;
}

.logo-container {
    display: flex;
    padding-top: 29px;
    /* padding-bottom: 2px; */
    letter-spacing: -0.5px;
}

.menu-container {
    padding-top: 12px;
}

.logo-container h1,
.menu-container {
    color: #ffffff;
}

nav.menu-container {
    display: flex;
    justify-content: space-between;
    width: 371px;
    padding-top: 42px;
}

.menu-container-paragraph {
    letter-spacing: -0.2px;
    cursor: pointer;
}

.logo-container h1.star {
    color: #f06c64;
}

.menu-container p:hover {
    color: #f06c64;
}

.dot {
    color: #494e62;
}

.logo-and-menu-strip {
    height: 6px;
    background-color: #323746;
}

.slider-area {
    display: flex;
    justify-content: space-between;
    height: 594px;
    background-color: #f06c64;
}

.buttons-container {
    display: flex;
}

.left-btn,
.right-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    color: #ca4549;
}

.right-btn {
    width: 66px;
}

.phones {
    display: flex;
    align-items: center;
    width: 882px;
}

.vertical-phone {
    padding-left: 41px;
    padding-bottom: 2px;
}

.horizontal-phone {
    padding-left: 73px;
    padding-bottom: 2px;
}

.left-btn img {
    padding-left: 30px;
    padding-bottom: 5px;
}

.right-btn img {
    padding-right: 30px;
    padding-bottom: 5px;
}

.left-btn:hover,
.right-btn:hover {
    background-color: #ce5d56;
}

.left-btn:active,
.right-btn:active {
    background-color: #323746;
}

.slider-area-strip {
    height: 6px;
    background-color: #ea676b;
}

.info-wrapper {
    width: 940px;
    height: 494px;
}

.info-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #f2f2f2;
}

.our-services {
    margin-top: 59px;
    letter-spacing: -0.2px;
    color: #666d89;
}

.info-strip {
    width: 100%;
    height: 6px;
    background-color: #ffffff;
}

.description-container {
    height: 57px;
    margin-top: 18px;
    line-height: 1.7;
    color: #666d89;
    overflow: hidden;
    word-break: break-all
}

.features-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 250px;
    margin-top: 49px;
}

.feature {
    display: flex;
    width: 300px;
    height: 95px;
}

.feature.margin-left {
    margin-left: 20px;
}

.pict {
    margin-top: -1px;
}

.pict.margin-left {
    margin-left: 1px;
}

.pict.margin-top {
    margin-top: 1px;
}

.text {
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.text .header {
    letter-spacing: -0.1px;
    color: #666d89;
}

.text .header.first-row {
    margin-top: -3px;
}

.text .header.second-row {
    margin-top: -5px;
}

.words p {
    height: 60px;
    margin-top: 8px;
    padding-left: 1px;
    line-height: 1.97;
    color: #666d89;
    overflow: hidden;
    word-break: break-all
}

.logo-container h1,
.menu-container {
    /* font-style: normal; */
    font-weight: 500;
    font-family: 'Lato';
}

.logo-container h1 {
    font-size: 25px;
}

.menu-container {
    font-size: 12px;
}

.dot {
    font-weight: 100;
    font-family: 'Lato';
}

.our-services {
    /* font-style: normal; */
    font-weight: 700;
    font-size: 30px;
    font-family: 'Lato';
}

.description-container p {
    /* font-style: normal; */
    font-weight: 300;
    font-size: 18px;
    font-family: 'Lato';
}

.text .header p {
    /* font-style: normal; */
    font-weight: 700;
    font-size: 18px;
    font-family: 'Lato';
}

.text .words p {
    /* font-style: normal; */
    font-weight: 400;
    font-size: 11px;
    font-family: 'Lato';
}

.wrapper-portfolio-container,
.wrapper-about-us-container {
    box-sizing: border-box;
    width: 1020px;
    padding: 0 40px;
}

.portfolio-container {
    display: flex;
    /* flex-flow: column; */
    justify-content: center;
    /* align-items: center; */
    height: 864px;
    background-color: #2d303a;
}

.portfolio-bottom-line {
    width: 100%;
    height: 6px;
    background-color: #323746;
}

.portfolio-sentence {
    padding-top: 22px;
    /* font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300; */
}

.portfolio-categories {
    display: flex;
    align-items: center;
    padding-top: 15px;
    /* padding-bottom: 15px; */
}

.tag {
    padding: 3px 6px;
    border: 0.7px solid #767e9e;
    border-radius: 4px;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}

.tag:hover {
    color: #c5c5c5;
    border-color: #c5c5c5;
    cursor: pointer;
}

.portfolio-categories>.tag {
    margin-left: 10px;
}

.portfolio-categories>.tag:first-child {
    margin-left: 1px;
    padding: 3px 7px;
}

.portfolio-categories:first-child {
    margin-left: 10px;
    margin-left: 0px;
}

.four-column-layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    height: 621px;
    padding-top: 19px;
}

.portfolio-img {
    width: 23.4%;
    height: 187px;
    margin-bottom: 20px;
}

.about-us-container {
    display: flex;
    justify-content: center;
    padding-bottom: 63px;
    background-color: #f2f2f2;
}

.explanatory-sentence {
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

.about-us-sentence {
    padding-top: 18px;
    font-size: 18px;
    line-height: 1.65;
}

.three-column-layout {
    display: flex;
    justify-content: space-between;
}

.cutaway {
    width: 31.92%;
    padding-top: 46px;
}

.cutaway-padding-right {
    padding-right: 2px;
}

.human-name {
    height: 22px;
    padding-top: 11px;
    font-size: 18px;
    letter-spacing: -0.1px;
    color: #666d89;
    overflow: hidden;
}

.human-name-margin-left {
    margin-left: -1px;
}

.personal-biography {
    padding-top: 8px;
    line-height: 21px;
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}

.personal-social-networks {
    display: flex;
    padding-top: 24px;
}

.personal-social-networks-margin-left {
    margin-left: -1px;
}

.personal-social-networks>div {
    margin-left: 8px;
}

.personal-social-networks>div:first-child {
    margin-left: 1px;
}

.social-network>img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.about-us-bottom-line {
    height: 6px;
}

h2 {
    font-size: 30px;
    font-family: "Lato";
    font-weight: 900;
}

h2.portfolio-header {
    padding-top: 60px;
    letter-spacing: -0.2px;
    color: #666d89;
}

h2.about-us-header {
    padding-top: 59px;
    letter-spacing: -0.2px;
    color: #666d89;
}

h2 {
    font-size: 30px;
    font-family: "Lato";
    font-weight: 900;
}

a {
    text-decoration: none;
}

.quote-section-container,
.footer-container {
    display: flex;
    justify-content: center;
}

.wrapper-quote-section-container,
.wrapper-footer-container {
    box-sizing: border-box;
    width: 1020px;
    padding: 0 40px;
}

.quote-section-container {
    height: 648px;
    background-color: #f06c64;
}

.quote-header {
    padding-top: 60px;
    font-size: 29px;
    letter-spacing: 0.4px;
    color: #f0d8d9;
}

.paragraph-font {
    font-family: 'Lato';
    font-weight: 300;
}

.quote-paragraph {
    padding-top: 18px;
    line-height: 30px;
    font-size: 18px;
    color: #f0d8d9;
}

.communication-form-container {
    display: flex;
    justify-content: space-between;
}

.input-fields-container {
    display: flex;
    flex-direction: column;
    padding-top: 44px;
    padding-right: 21px;
}

.input-fields-container>div {
    padding-top: 16px;
}

.input-fields-container>div:first-child {
    padding-top: 0px;
}

.input-field,
.textarea-field,
.submit-button {
    width: 604px;
    display: block;
    /* padding-top: 16px; */
    color: #f08586;
    background: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 6px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 12px;
}

::-webkit-input-placeholder {
    color: #f08586;
}

::-moz-placeholder {
    color: #f08586;
}

:-moz-placeholder {
    color: #f08586;
}

:-ms-input-placeholder {
    color: #f08586;
}

.input-field {
    height: 36px;
    padding-left: 13px;
}

.textarea-field {
    height: 192px;
    resize: none;
    padding-top: 9px;
    padding-left: 13px;
}

.input-button-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    width: 100px;
}

.contact-information-container {
    display: flex;
    flex-direction: column;
}

.contact-information-header {
    padding-top: 42px;
    font-size: 18px;
    color: #f0d8d9;
}

.contact-paragraph-font {
    padding-top: 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    /* letter-spacing: -0.2px; */
    color: #f0d8d9;
}

.organization-contacts {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
}

.contact-data {
    display: flex;
}

.contact-data>p {
    padding-top: 0px;
}

.contact-data-img-container {
    width: 23px;
}

.contact-data-img-container.first-img {
    padding-top: 5px;
}

.contact-data.first-img {
    padding-left: 3px;
}

.contact-data-img-container.second-img {
    padding-top: 4px;
}

.contact-data.second-img {
    padding-left: 1px;
}

.contact-paragraph-font.second-paragraph {
    margin-top: -1px;
}

.contact-data-img-container.third-img {
    padding-top: 2px;
}

.quote-section-bottom-line {
    height: 6px;
    background-color: #ea676b;
}

.footer-container {
    height: 76px;
    background-color: #2d303a;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.copyright-logo {
    padding-left: 1px;
    margin-top: -1px;
    font-size: 12px;
    font-weight: 400;
    color: #5b6179;
    letter-spacing: -0.1px;
}

.organization-social-networks-container>img {
    margin-top: 5px;
    margin-right: 4px;
}

.organization-social-networks-container>img:last-child {
    margin-right: 0px;
}

.organization-social-networks-container>img:hover {
    cursor: pointer;
    transform: scale(1.2);
}