.communication-form-container {
    @include flex($justify-content: space-between);
    padding-top: 44px;
    padding-bottom: 58px;
    @media screen and (max-width: $media-tablet) {
        padding-top: 19px;
        padding-bottom: 39px;
    }
    @media screen and (max-width: $media-screen550) {
        flex-wrap: wrap;
    }
    @media screen and (max-width: $media-screen450) {
        flex-wrap: wrap;
        padding-bottom: 42px;
    }
}

.quote-form {
    width: 68%;
    @media screen and (max-width: $media-screen550) {
        width: 100%;
    }
}

.input-fields-container {
    @include flex($flex-direction: column);

    margin-right: 21px;

    & > div {
        padding-top: 17px;
        @media screen and (max-width: $media-tablet) {
            padding-top: 13px;
        }
    }

    & > div:first-child {
        padding-top: 0px;
    }

    @media screen and (max-width: $media-screen550) {
        margin-right: 0px;
    }
}

%input-fields-template {
    display: block;
    box-sizing: border-box;
    width: 100%;
    @include font($font-weight: 400, $font-size: 12px);
    color: $input-color;
    background: $input-background-color;
    border: 1px solid $input-background-color;
    border-radius: 6px;
}

::-webkit-input-placeholder {
    color: $input-color;
}

::-moz-placeholder {
    color: $input-color;
}

:-moz-placeholder {
    color: $input-color;
}

:-ms-input-placeholder {
    color: $input-color;
}

.input-field {
    @extend %input-fields-template;
    height: 37px;
    padding-left: 13px;
}

.textarea-field {
    @extend %input-fields-template;
    height: 201px;
    padding-top: 9px;
    padding-left: 13px;
    resize: none;
}

.submit-button {
    @extend %input-fields-template;
    width: 30%;
}
.input-button-container {
    @include flex($justify-content: center);
}

.contact-information-container {
    width: 32%;
    @include flex($flex-direction: column);
    @media screen and (max-width: $media-screen550) {
        width: 100%;
        padding-top: 32px;
    }
}

.contact-information-header {
    // padding-top: 42px;
    font-size: 18px;
    color: $light-peach-color;
}

.contact-paragraph-font {
    padding-top: 8px;
    @include font($font-size: 12px, $font-weight: 400);
    line-height: 22px;
    color: $light-peach-color;
    &.second-paragraph {
        margin-top: -1px;
    }
}

.organization-contacts {
    @include flex($flex-direction: column);
    padding-top: 21px;
    @media screen and (max-width: $media-tablet) {
        padding-top: 10px;
    }
}

.contact-data {
    @include flex();
    & > p {
        padding-top: 0px;
    }
    &-img-container {
        width: 23px;
        &.first-img {
            padding-top: 5px;
            padding-left: 3px;
        }
        &.second-img {
            padding-top: 4px;
            padding-left: 1px;
        }
        &.third-img {
            padding-top: 2px;
        }
    }
}
