.footer-container {
    @include flex($justify-content: center);
    padding: 17.5px 0px;
    background-color: $background-logo-and-menu-container;
}

.footer-content {
    @include flex($align-items: center, $justify-content: space-between);
    height: 100%;
    @media screen and (max-width: $media-screen450) {
        justify-content: center;
    }
    // width: 100%;
}

.copyright-logo {
    flex-grow: 1;
    margin-top: -1px;
    padding-left: 1px;
    @include font($font-weight: 400, $font-size: 12px);
    letter-spacing: -0.1px;
    color: $copyright-logo-color;
    @media screen and (max-width: $media-screen450) {
        display: none;
    }
}

.organization-social-networks-container {
    & > img {
        margin-top: 5px;
        margin-right: 4px;
    }

    & > img:last-child {
        margin-right: 0px;
    }
    & > img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}
