

.logo-and-menu-container {
    display: flex;
    justify-content: center;
    // align-items: center;
    background-color: $background-logo-and-menu-container;

}


.logo-and-menu-strip {
    height: 6px;
    background-color: $logo-bottom-strip-color;
    @media screen and (max-width:$media-low-tablet) {
        display: none;
    }
}
