//colours
$background-logo-and-menu-container: #2d303a;
$white-color: white;
$light-red-color: #f06c64;
$slider-area-strip-color: #ea676b;
$dark-grey-color: #494e62;
$logo-bottom-strip-color: #323746;
$common-red: #ca4549;
$aqua-color: #648bf0;
$elephant-bound-color: #f2f2f2;
$medium-grey-color: #666d89;
$very-dark-grey: #2d303a;
$grey-with-blue-color: #767e9e;
$milk-with-strawberry-color: #c5c5c5;
$light-peach-color: #f0d8d9;
$input-color: #f08586;
$input-background-color: #d6564f;
$copyright-logo-color:  #5b6179;

//media
$media-tablet: 768px;
$media-low-tablet: 640px;
$media-mobile: 375px;
