.about-us-container {
    @include flex($justify-content: center);
    padding-bottom: 63px;
    background-color: $elephant-bound-color;
}

.about-us-sentence {
    padding-top: 18px;
    font-size: 18px;
    line-height: 1.65;
}

.three-column-layout {
    display: flex;
    justify-content: space-between;
}

.cutaway {
    width: 31.92%;
    padding-top: 46px;

    &-padding-right {
        padding-right: 2px;
    }
}

.human-name {
    height: 22px;
    padding-top: 11px;
    font-size: 18px;
    letter-spacing: -0.1px;
    color: $medium-grey-color;
    overflow: hidden;

    &-margin-left {
        margin-left: -1px;
    }
}

.personal {
    &-biography {
        padding-top: 8px;
        @include font($font-weight: 400, $font-size: 12px);
        line-height: 21px;
        color: $grey-with-blue-color;
    }
    &-social-networks {
        @include flex();
        padding-top: 24px;
        &-margin-left {
            margin-left: -1px;
        }

        & > div {
            margin-left: 8px;
        }

        & > div:first-child {
            margin-left: 1px;
        }
    }
}

.social-network > img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.about-us-bottom-line {
    height: 6px;
}
