.four-column-layout {
    @include flex($justify-content: space-between, $flex-wrap: wrap);
    // height: 621px;
    // padding-top: 8px;
    margin-top: -2px;
    padding-bottom: 68px;
    // overflow: hidden;
    @media screen and (max-width: $media-tablet) {
        margin-top: 0;
        padding-top: 8px;
        padding-bottom: 65.5px;
    }
    @media screen and(max-width: $media-screen450) {
        padding-bottom: 42px;
    }
}

.portfolio-img {
    // box-sizing: content-box;
    width: 23.5%;
    height: 187px;
    margin-top: 20px;
    position: relative;

    &.active {
        box-sizing: border-box;
        border: 5px solid $light-red-color;
    }

    @media screen and (max-width: $media-screen1020) {
        width: 31.5%;
        height: 183px;
    }

    @media screen and (max-width: $media-tablet) {
        margin-top: 14px;
        height: 150px;
    }

    @media screen and (max-width: $media-screen550) {
        width: 48%;
        height: 128px;
        &.hidden {
            display: none;
        }
    }
}
