.slider-area {
    display: flex;
    justify-content: space-between;
    // width: 100%;
    height: 594px;
    background-color: $light-red-color;
}

.slider-area-strip {
    height: 6px;
    background-color: $slider-area-strip-color;
}

.slide-color-1 {
    background: $light-red-color;
}
.slide-color-2 {
    background: $aqua-color;
}
