.slide {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    min-width: 100%;
}
.active,
.next {
    display: block;
}

.next {
    position: relative;
    width: 100%;
}

.to-left {
    animation-name: left;
}
.to-right {
    animation-name: right;
    animation-direction: reverse;
}
.from-left {
    animation-name: left;
    animation-direction: reverse;
}
.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

.phones {
    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
    & > * {
        position: relative;
    }
}

.horizontal-phone-wrapper,
.vertical-phone-wrapper {
    position: relative;

    .horizontal-phone,
    .vertical-phone {
        position: absolute;
        z-index: 1;
        &.hide {
            display: none;
        }
        &.black-display.hide {
            display: none;
        }
    }

    .horizontal-phone-shadow,
    .vertical-phone-shadow {
        position: relative;
        top: 0;
        left: 0;
    }

    // .vertical-black-display {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: 2;
    //     width: 188.9px;
    //     height: 334.5px;
    //     // margin-top: 117px;
    //     // margin-left: 55.5px;
    //     border-radius: 2px;
    //     background-color: black;
    // }
    // .vertical-black-display.hide {
    //     display: none;
    // }
}

.vertical-phone-wrapper {
    width: 27.5%;
    margin-left: 5%;
}
.vertical-phone {
    width: 89.5%;

}

.horizontal-phone-wrapper {
    width: 55%;
    margin-left: 8%;
}

.horizontal-phone {
    width: 95%;
}

.phones-absolute {
    position: relative;
}

.left-phone-wrapper,
.right-phone-wrapper {
    // width: 25.7%;
}

.slide-1 {
    // .vertical-phone-shadow {
    //     margin-top: 53px;
    //     margin-left: 42px;
    // }

    // .vertical-phone {
    //     z-index: 2;
    //     margin-top: 53px;
    //     margin-left: 42px;
    // }

    // .horizontal-phone-shadow {
    //     margin-top: 174px;
    //     margin-left: 355px;
    // }

    // .horizontal-phone {
    //     z-index: 2;
    //     margin-top: 174px;
    //     margin-left: 355px;
    // }

    // .horizontal-black-display {
    //     z-index: 3;
    //     width: 333.7px;
    //     height: 188.9px;
    //     margin-top: 187.5px;
    //     margin-left: 414.5px;
    //     border-radius: 2px;
    //     background-color: black;
    // }

    // .horizontal-black-display.hide {
    //     display: none;
    // }
}

.slide-2 {
    // .left-phone {
    //     margin-top: 152px;
    //     margin-left: 175px;
    //     z-index: 2;
    //     opacity: 0.6;
    // }
    // .desktop-left-phone {
    //     margin-top: 194px;
    //     margin-left: 184px;
    //     z-index: 2;
    //     opacity: 0.6;
    // }
    // .shadow-left-phone {
    //     margin-top: 152px;
    //     margin-left: 175px;
    //     opacity: 0.6;
    // }

    // .right-phone {
    //     margin-top: 152px;
    //     margin-left: 542px;
    //     z-index: 2;
    //     opacity: 0.6;
    // }
    // .desktop-right-phone {
    //     margin-top: 194px;
    //     margin-left: 551px;
    //     z-index: 2;
    //     opacity: 0.6;
    // }
    // .shadow-right-phone {
    //     margin-top: 152px;
    //     margin-left: 542px;
    //     opacity: 0.6;
    // }

    // .central-phone {
    //     margin-top: 43px;
    //     margin-left: 314px;
    //     z-index: 4;
    // }
    // .desktop-central-phone {
    //     margin-top: 112px;
    //     margin-left: 328px;
    //     z-index: 5;
    // }
    // .shadow-central-phone {
    //     margin-top: 43px;
    //     margin-left: 314px;
    //     z-index: 3;
    // }
}
